body {
    background-color: burlywood;
    font: "Arial",sans-serif;

}
.business-card {
    width: 300px;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 206, 192);
}
.profile-image {
    /* max-width: 100%; */
    height: 200px;
    width: 200px;
    max-width: 50%;
    
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
#pp {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
